:root{
    --gray: #5D5C61;
  }


.container-black {
  background-color: black;
  height: 100vh;
}

img {
  height: 300px;
}

h1 {
  color: var(--gray);
  font-family:'Rubik', sans-serif;
}

i {
  color: var(--gray);
}

a {
  text-decoration: none;
  color: var(--gray);
}

a:hover {
  text-decoration: none;
  color: var(--gray);
  font-weight: bold;
}
